
.blog-cont {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 2000.334px;
    background: #141620;
    z-index: 1000;
  }
  
  .main-cont-blog {
    margin-top: 100px;
    z-index: 1000;
  }
  
  .main-cont-blog h3 {
    color: var(--ffffff, #FFF);
    font-family: RF Dewi Expanded;
    font-size: 2.43719rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 2.16669rem */
    letter-spacing: 0.04331rem;
  }
  
  .main-cont-blog p {
    width: 366.667px;
    margin-top: 24px;
    color: var(--ffffff, #FFF);
    font-family: Neue Machina;
    font-size: 0.93738rem;
    font-style: normal;
    font-weight: 300;
    line-height: 130%; /* 1.08331rem */
    opacity: 0.8;
  }
  
  .continer-for-events {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 240px;
  }
  
  .blog-cont-event1,
  .blog-cont-event2 {
    padding-top: 33px;
    padding-left: 33px;
    padding-bottom: 33px;
    width: 95%;
    height: 240px;
    flex-shrink: 0;
    position: relative;
  }
  
  .blog-cont-event1 {
    border-radius: 28px;
    background-image: url("../../../assets/mainPage/BlueSvg/image 188.png");
    backdrop-filter: blur(19.666664123535156px);
    background-size: 100% auto;
  }
  
  .blog-cont-event2 {
    border-radius: 28px;
    background-color: black;
    background-image: url("../../../assets/mainPage/BlueSvg/image 186.png");
    backdrop-filter: blur(19.666664123535156px);
    background-size: 100% auto;
  }
  .blog-cont-event1::after{
    border-radius: 28px;
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Затемнение через псевдо-элемент */
    pointer-events: none;
    z-index: -1; /* Помещаем псевдо-элемент под содержимое .blog-cont-event2 */
  }
  .blog-cont-event2::after {
    border-radius: 28px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Затемнение через псевдо-элемент */
    pointer-events: none;
    z-index: -1; /* Помещаем псевдо-элемент под содержимое .blog-cont-event2 */
  }
  
  .blog-cont-event1 p,
  .blog-cont-event2 p {
    position: absolute;
    bottom: 0px;
    color: #FFF;
    font-family: Neue Machina;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 1.19169rem */
  }
  
  .blog-cont-event1 button,
  .blog-cont-event2 button {
    width: 120px;
    padding: 14.667px;
justify-content: center;
align-items: center;
gap: 6.667px;
    border-radius: 66.667px;
    background: linear-gradient(107deg, rgba(255, 255, 255, 0.20) -13.6%, rgba(255, 255, 255, 0.06) 109.57%);
    backdrop-filter: blur(1px);
    display: inline-flex;
    justify-content: center;
color: #FFF;
font-family: RF Dewi Expanded;
font-size: 0.66669rem;
font-style: normal;
font-weight: 600;
line-height: 80%; /* 0.53331rem */
text-transform: uppercase;
  }
.contact-with-us{
  margin-top: 50px;
}

.map-container{
  position: relative;
  background-color: white;
  width: 100%;
  border-radius: 31.496px;
  height: 344.96px;
}
.map-container iframe{
  position: absolute;
  border-radius: 31.496px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.vacancies{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 15px;
  margin-top: 30px;
  border-radius: 28px;
background: #181A25;
backdrop-filter: blur(19.666664123535156px);
  height: 344.96px;
}
.contacts{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  height: 268px;
  border-radius: 28px;
background: #181A25;
backdrop-filter: blur(19.666664123535156px);
}
.contacts-us{
  height: 642px;
  border-radius: 28px;
background: #12141D;

backdrop-filter: blur(19.666664123535156px);
}
.contacts h4, .vacancies h4{
  color: var(--ffffff, #FFF);
font-family: Neue Machina;
font-size: 1.08331rem;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 1.08331rem */
}
.contacts  hr{
  height: 0.667px;
  color: rgba(255, 255, 255, 0.20);
}
.vacancies hr {
  height: 0.667px;
  color: rgba(255, 255, 255, 0.20);
}
.vacancies h5{
  margin-top:30px;
  color: var(--ffffff, #FFF); 
font-family: Neue Machina;
font-size: 0.83331rem;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 1.08331rem */
}
.vacancies p{
  color: var(--ffffff, #FFF);
font-family: Neue Machina;
font-size: 0.66669rem;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 0.8rem */
opacity: 0.6;
}
.contacts p{
  color: var(--ffffff, #FFF);
font-family: Neue Machina;
font-size: 0.70000rem;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 1.08331rem */
}
.contacts h5{
  color: var(--ffffff, #FFF);
  font-family: Neue Machina;
  font-size: 0.66669rem;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 0.86669rem */
  opacity: 0.6;
}
.vacancies a{
  padding-top: 30px;
  color: var(--40-b-6-b-7, #40B6B7);
font-family: Neue Machina;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 0.75rem */
text-decoration: none;
}
.vacancies a img{
  margin-left: 5px;
}
.contacts-us{
  padding-top: 30px;;
  padding-left: 30px;
  padding-right: 30px;
}
.contacts-us h4{
  color: var(--ffffff, #FFF);
  font-family: Neue Machina;
  font-size: 1.33331rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 1.33331rem */
}
.contacts-us p{
  color: var(--ffffff, #FFF);
font-family: Neue Machina;
font-size: 0.75rem;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 0.975rem */
opacity: 0.8;
}
.contacts-us hr{
  height: 0.667px;
  color: rgba(255, 255, 255, 0.20);
}
.contacts-us input{
  color: white;
  border-radius: 18.667px;
background: #181920;
width: 100%;
margin-bottom: 14px;
height: 63.333px;
padding-left: 24px;


}
.input-button-call-us{
width: 100%;
padding-top: 24px;
padding-bottom: 24px;
border-radius: 18.667px;
background: var(--40-b-6-b-7, #40B6B7);
backdrop-filter: blur(19.666664123535156px);
color: var(--ffffff, #FFF);
font-family: RoadRadio;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 1.3rem */
text-align: center;

}
.mark-button{
  margin-bottom: 3px;
  margin-left: 10px;
  width: 10px;
height: 10px;
}
.buttons-contacts-us{
  display: flex;
  justify-content: space-between;
}
.buttons-contacts-us button{
  margin-left: auto;
  margin-right: auto;
padding: 8px 17.333px;
gap: 6.667px;
border-radius: 31.667px;
background: #181920;
backdrop-filter: blur(19.666664123535156px);
color: #FFF;

font-family: Neue Machina;
font-size: 0.70831rem;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 0.92081rem */
opacity: 0.6;
}
.our-conditions{
  margin-top: 10px;
  color: var(--ffffff, #FFF);
text-align: center;
font-family: Neue Machina;
font-size: 0.58331rem;
font-style: normal;
font-weight: 300;
line-height: 130%; /* 0.75831rem */
opacity: 0.6;
}
.contacts .grup-svg{
  margin-top: 20px;
}
.contact-with-us {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 320px;
  grid-gap: 20px;
}
.map-container{
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
}
.contacts-us{
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}
.vk{
  display: flex;
  grid-column-start:1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}
.vacancies{
  min-width: 60%;
  grid-column-start:1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-right: 20px; /* Здесь задайте нужное значение отступа между блоками */
}
.contacts{
  max-width: 35%;
  grid-column-start:5;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
}
.blog-cont-event1 {
  width: auto;
  margin: 0;
  margin-right: 10px;
}

.blog-cont-event2 {
  width: auto;
  margin: 0;
  margin-left: 10px;
}
.main-page-footer{
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-page-footer div{
  margin-left: auto;
  margin-right: auto;
}
.main-page-footer p{
  text-align: center;
  color: #FFF;

text-align: right;
font-family: Neue Machina;
font-size: 0.84363rem;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 0.928rem */
letter-spacing: 0.01688rem;
opacity: 0.6;
  
}
.input-button-call-us:hover{
  background: #4CCECF;
}
.input-button-call-us:active{
  background: #328F8F;
}
.input-button-call-us:hover .button-arr-svg-2 {
  animation: moveUp 0.3s forwards;
}
.button-arr-svg-2{
  height: 14px;
  margin-left: 10px;
}

@keyframes moveUp {
  0%, 100% {
    transform: translateY(0);
    fill: #FFFFFF;
  }
  50% {
    transform: translateY(-10px);
    fill: #FFFFFF;
  }
}
.vk-tg-img{
  max-width: 100%;
}
.vk-tg-img path{
  transition: fill 0.5s;
}
.vk-tg-img:hover path{
  fill: #4CCECF;;
}
input.your-number-input,
input.your-email-input,
input.your-name-input {
  transition: border-color 0.5s ease;
  border: 2px solid transparent;
}

input.your-number-input:hover,
input.your-email-input:hover,
input.your-name-input:hover {
  border-color: #40B6B7;
  cursor: pointer;
}



.bt-call, .bt-telegram, .bt-whats-app {
  border: 2px solid transparent; /* Добавляем границу */
  transition: border-color 0.5s; /* Добавляем переход для цвета границы */
}

.bt-call:hover, .bt-telegram:hover, .bt-whats-app:hover {
  border-color: #40B6B7; /* Изменяем цвет границы при наведении */
  cursor: pointer;
}

@media (max-width: 1200px) {
  .continer-for-events {
    overflow-y: hidden;
    position: relative;
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;  
    height: 35vh;
    z-index: 99;
  }

  .continer-for-events div{
    width: 60vh;
    height: 30vh;
    z-index: 99;
    
  }
  ::-webkit-scrollbar {
    margin-top: 100px;
    height: 2px;
    width: 2px; /* Здесь вы можете установить желаемую ширину */
  }
  
  /* Устанавливаем цвет фона полосы прокрутки */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.20);; /* Замените на желаемый цвет фона */
  }
  
  /* Устанавливаем цвет полосы прокрутки */
  ::-webkit-scrollbar-thumb {
    background: #40B6B7 /* Замените на желаемый цвет полосы */
  }
  @media screen and (orientation: landscape) {
    /* Специфические стили для горизонтального экрана на широких экранах */

    .continer-for-events {
      overflow-y: hidden;
      width: 100%;
      height: 85vh;
    }
    .contact-with-us{
      margin-top: 100px;
    }
    .continer-for-events div{
      width: 190vh;
      height: 80vh;
      z-index: 99;
    }
  }

  
}
@media (max-width: 768px){
  .contact-with-us {
    display: block;
  }
  .map-container{
    display: block;
    height: 45vw;
  }

  .buttons-contacts-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .bt-whats-app, .bt-telegram { 
    margin-left: 20px;
  }
  .text-email-input{
    display: flex;
    justify-content: space-between;
  }
  .your-email-input, .your-name-input{
    max-width:  49%;
  }
  .vk{
    display: flex;
    justify-content: space-between;

  }
  .vacancies, .contacts{
    min-width: 48%;
  }
  .contacts-us{
    height: 550px;
    margin-top:50px;
  }
}
@media (max-width: 567px) {
  .vk{
    display: block;
  }
  .vacancies{
    display: none;
  }
  .contacts{
    margin-top: 100px;
    display: block;
    min-width: 100%;
  }
  .text-email-input{
    display: block;
  }
  .your-name-input, .your-email-input{
    display: block;
    min-width: 100%;
  }
  .map-container{
    border-radius: 0%;
  }
  .main-page-footer p{
    margin-left: auto;
    margin-right: auto;
    
  }
  

  
}
.read-event-but, .read-help-but {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  /* Другие стили для вашего абсолютного элемента */
}
.blog-cont-event1, .blog-cont-event2 {
  position: relative;
}

.blog-cont-event1::before, .blog-cont-event2::before {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
  z-index: -1;
}

.blog-cont-event1:hover::before, .blog-cont-event2:hover::before {
  opacity: 1;
}
.blog-cont-event1:hover .read-event-but, .blog-cont-event2:hover .read-help-but {
  opacity: 1;
}
.blog-cont-event1:hover *:not(.continer-for-events .read-event-but):not(.read-event-but *) {
  opacity: 0.2;
}

.blog-cont-event2:hover *:not(.continer-for-events .read-help-but):not(.read-help-but *) {
  opacity: 0.2;
}
.read-event-but:hover .arr-svg-empt, .read-help-but:hover .arr-svg-bl {
  animation: moveUp 0.3s forwards;
}

@keyframes moveUp {
  0%, 100% {
    transform: translateY(0);
    fill: #FFFFFF;
  }
  50% {
    transform: translateY(-10px);
    fill: #FFFFFF;
  }
}

.arr-svg-empt path, .arr-svg-bl path {
  width: 100%;
  fill: #40B6B7; 
}

.read-event-but:active .arr-svg-empt path, .read-help-but:active .arr-svg-bl path{
  fill: white; 
} 