
.main-nav{
    height: 44.67px;
    padding-top: 22px;
    display: flex;
    width: 100%;
    margin-left: 2%;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  
  .nav-item{
    z-index: 99;
  }
  .main-nav a{
    color: #FFF;
    font-family: Neue Machina;
    font-size: 0.84363rem;
    list-style: none;
    text-decoration: none;
    z-index: 99;
  }
  
  .img-logo {
    width: 153.334px;
    height: 44.667px;
    flex-shrink: 0;
  }
  
  .start-project {
    display: inline-flex;
padding: 17.998px;
justify-content: center;
align-items: center;
gap: 8.999px;
border-radius: 20px;
border: 2px solid var(--40-b-6-b-7, #40B6B7);
background: rgba(64, 182, 183, 0.10);
backdrop-filter: blur(5.5px);
color: var(--ffffff, #FFF);
font-family: RF Dewi Expanded;
font-size: 0.65619rem;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 0.65619rem */
text-transform: uppercase;
transition: background-color 0.5s;
  }
  .start-project:hover {
    border-radius: 20px;
border: 2px solid var(--40-b-6-b-7, #40B6B7);
background: rgba(64, 182, 183, 0.30);
backdrop-filter: blur(5.5px);
}
.start-project:active{
  border-radius: 20px;
border: 2px solid var(--40-b-6-b-7, #40B6B7);
background: #40B6B7;

backdrop-filter: blur(5.5px);
}



  


/* Затем добавьте стили для изменения цвета и положения при наведении */


/* Анимация поднимания и возвращения SVG при наведении */

/* Анимация поднимания и возвращения SVG при наведении */
.start-project:hover .arr-svg-empt {
  animation: moveUp 1s forwards;
}

@keyframes moveUp {
  0%, 100% {
    transform: translateY(0);
    fill: #FFFFFF;
  }
  50% {
    transform: translateY(-10px);
    fill: #FFFFFF;
  }
}

.arr-svg-empt path {
  width: 100%;
  fill: #40B6B7; 
}

.start-project:active .arr-svg-empt path {
  fill: white; 
} 
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  transition: height 1s ease, background-color 1s ease;
}

.overlay.active {
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: fixed;
}

/* Скрыть вертикальную прокрутку у html и body при активном .overlay */
:global(body.overflow-hidden) {
  overflow: hidden;
}