

.us-works{
    display: block;
    position: static;
    margin-top: 200px;
    height: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.title-us-works.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Установите нужное значение z-index для title-us-works.not-fixed */
  }
.title-us-works{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: RF Dewi Expanded;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 88px */
    letter-spacing: 1.6px;
}
.title-us-works.not-fixed{
    margin-top: 1200px;
}


.us-works * h3{
    width: 80%;
    color: #FFF;
font-family: RF Dewi Expanded;
font-size: 1.9685rem;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 30.8px */
text-transform: uppercase;
}
.us-works * p{
    width: 80%;
    color: #FFF;
font-family: Neue Machina;
font-size: 0.74994rem;
font-style: normal;
font-weight: 300;
line-height: 100%;

}
.us-works * button{
    position: absolute;
    bottom: 5vh;
    padding: 1rem;
justify-content: center;
align-items: center;
border-radius: 66.667px;
background: linear-gradient(107deg, rgba(255, 255, 255, 0.20) -13.6%, rgba(255, 255, 255, 0.06) 109.57%);
backdrop-filter: blur(14.666667938232422px);
color: #FFF;
font-family: RF Dewi Expanded;
font-size: 0.84363rem;
font-style: normal;
font-weight: 600;
line-height: 80%; /* 9.6px */
text-transform: uppercase;
}



  .cont-1, .cont-4, .cont-5{
    min-width:  51.54%;
    max-width: 51.54%;;
  }
  .cont-2, .cont-3, .cont-6{
    min-width:  45.40%;
    max-width: 45.40%;;


    
  }
  .firs-div, .secons-div, .third-div{
    display: flex;
    justify-content: space-between;
    width: 100%; 
    height: 30%; 
    margin-bottom: 3vh;
}
  
  .cont-1 {
    background: #08213C;
    background-image: url("../../../assets/mainPage/BlueSvg/Mask group fringe.png");
}
  .cont-2{
    background-image: url("../../../assets/mainPage/BlueSvg/Mask foto-parf.png");
}
.cont-3{
    background-image: url("../../../assets/mainPage/BlueSvg/чай-455.png");
}

  .cont-4{
    background: #E5271F;
    background-image: url("../../../assets/mainPage/BlueSvg/Mask group.png");
}
  .cont-5{
    background: #E5271F;
    background-image: url("../../../assets/mainPage/BlueSvg/Mask group.png");
    
}
  .cont-6{
    background-image: url("../../../assets/mainPage/BlueSvg/Mask foto-parf.png");
}
.cont-3-buttons button:nth-child(2) {
    margin-left: 100px;
}

.cont-4-buttons button:nth-child(3) {
    margin-left: 85px;
}
.cont-4-buttons button:nth-child(1) {
    margin-bottom: 50px;
}

.cont-5-buttons button:nth-child(3) {
  margin-left: 85px;
}
.cont-5-buttons button:nth-child(1) {
  margin-bottom: 50px;
}

.cont{
    aspect-ratio: 51.54/100;
    padding-left: 37.5px; /* Используем вместо фиксированных пикселей отступ в высоте */
    padding-top: 37.5px;
    height: 100%;
    border-radius: 28px;
    background-size: 100% auto;
    backdrop-filter: blur(19.666667938232422px);
    transition: transform 0.5s ease, background-size 0.5s ease;

  }
.buttons-down{
  max-width: 30px;
  min-height: 30px;
}
.cont:hover {
    background-size: 120% auto; /* Увеличиваем размер фона на 20% при наведении */
}
@media (max-width: 1200px) {
  .us-works {
    overflow-y: hidden;
    position: relative;
    display: flex;
    overflow-x: auto;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;  
    height: 45vh;
    z-index: 99;
  }
  .firs-div , .secons-div, .third-div{
    padding-left: 20px;
  }
  .us-works div{
    width: 80vh;
    height: 40vh;
    z-index: 99;
  }
  .cont{
    z-index: 99;
  }
  .us-works h3{
    font-size: 1.375rem;
  }
  .us-works p {
    font-size: 1rem;
  }
  .us-works button{
    font-size: 0.625rem;
  }
  .cont-6-buttons{
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
  }
  
  ::-webkit-scrollbar {
    height: 2px;
    width: 2px; /* Здесь вы можете установить желаемую ширину */
  }
  
  /* Устанавливаем цвет фона полосы прокрутки */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.20);; /* Замените на желаемый цвет фона */
  }
  
  /* Устанавливаем цвет полосы прокрутки */
  ::-webkit-scrollbar-thumb {
    background: #40B6B7 /* Замените на желаемый цвет полосы */
  }
  
  @media screen and (orientation: landscape) {
    /* Специфические стили для горизонтального экрана на широких экранах */
    .us-works {
      overflow-y: hidden;
      width: 100%;
      height: 85vh;
    }
    .us-works div{
      width: 190vh;
      height: 80vh;
      z-index: 99;
    }
  }
  
  /* Для Firefox */
}